@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body{
    background-color: blueviolet;
}
.container{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    margin-top: 20px;
}
.container h1{
font-size:40px ;
margin-bottom: 20px;
}
  
.containerBotoes {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;

    
}

.containerBotoes button {
    margin: 0 10px;
    max-width: 50px;
    width: 100px;
    max-height: 50px;
    height: 100px;
    padding: 10px;
border-radius:50%;
border-color: papayawhip;
transition: 0.5 all;
cursor: pointer;
}


.containerBotoes button:hover{
    background-color:plum;

}
.number {
    font-size: 24px;
    font-weight: bold;
}